Working-with-Maps/Grouping-Pattern-Selecting-distinct-nodes/SelectDistinctValues/Sample2/DataOutput.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Data">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="Header" type="xs:string" />
          <xs:element name="date" type="xs:date" />
          <xs:element name="Record">
            <xs:complexType>
              <xs:sequence>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="Name" type="xs:string" />
                  <xs:element name="Value" type="xs:decimal" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>