Working-with-Maps/Looping-Pattern/LoopingPattern/LoopValueMappingFlatteningFunctoid/OutputFlat1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Record">
    <xs:complexType>
      <xs:attribute name="Param1" type="xs:unsignedShort" use="required" />
      <xs:attribute name="Param2" type="xs:unsignedShort" use="required" />
      <xs:attribute name="Param3" type="xs:unsignedShort" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>